<p id="notice"><%= notice %></p>
<div class="jumbotron">
<%= image_tag @wedding.cover.url(:medium) %>

</div>
<div class="row">
  <div class="col-md-6">
    <h2>Gelin</h2>
   <h3><%= @wedding.bride_name %></h3>
    <%= image_tag @wedding.bride_image.url(:medium) %>  
  </div>

  <div class="col-md-6">
    <h2>Damat</h2>
    <h3><%= @wedding.groom_name %></h3>   
    <%= image_tag @wedding.groom_image.url(:medium) %>  
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  <p>
  <strong>Düğün : <%= @wedding.wedding_date %> tarihinde <%= @wedding.wedding_location %> düğün salonunda yapılacaktır </strong>
  <%= @wedding.description %>
  </p>
  </div>
  <div class="col-md-8">
  <strong>Hikayemiz:</strong>
  <%= @wedding.story %>
  </div>
</div>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
