<p id="notice"><%= notice %></p>

<div class="jumbotron">
<div class="row">
  <div class="col-md-4"
    <h1><%= @wedding.description %></h1>
    <p>Düğün : <%= @wedding.wedding_date %> tarihinde <%= @wedding.wedding_location %> düğün salonunda yapılacaktır</p>
    <p><a class="btn btn-primary btn-lg">RSVP</a></p>
  </div>
  <div class="col-md-8">
    <div class="col-md-4">
      <h2><%= @wedding.bride_name %></h2>
      <%= image_tag @wedding.bride_image.url(:medium), class: "img-circle" %>
    </div>
    <div class="col-md-4">
      <h2><%= @wedding.groom_name %></h2>
      <%= image_tag @wedding.groom_image.url(:medium), class: "img-circle" %>
    </div>
  </div>
  </div>
</div>

<div class="col-md-12">
<p>
<%= raw @wedding.story%>
</p>
<%= link_to 'Edit', edit_wedding_path(@wedding), class: "btn btn-warning" %> |
<%= link_to 'Back', weddings_path, class: "btn btn-info" %>
</div>



